.bg1 {
  background-color: rgb(255, 255, 255);
}
.bg2 {
  background-color: rgb(255, 255, 255);
}
.bg3 {
  background-color: rgb(255, 255, 255);
}
.bg4 {
  background-color: rgb(255, 255, 255);
}
.bg5 {
  background-color: rgb(255, 255, 255);
}
.bg6 {
  background-color: rgb(255, 255, 255);
}
.bg7 {
  background-color: rgb(255, 255, 255);
}

.bg8 {
  background-color: rgb(255, 255, 255);
}
.bg9 {
  background-color: rgb(255, 255, 255);
}
.bg10 {
  background-color: rgb(255, 255, 255);
}
.bg11 {
  background-color: rgb(255, 255, 255);
}
.bg12 {
  background-color: rgb(255, 255, 255);
}
.bg13 {
  background-color: rgb(255, 255, 255);
}
.bg14 {
  background-color: rgb(255, 255, 255);
}
.back {
  width: 100%;
}
.back img {
  height: 920px;
  width: 100%;
}
.contai {
  display: grid;
  grid-template-columns: 840px;
  grid-template-rows: 100px;
  position: absolute;
  padding: 10%;
  bottom: 60%;
  margin-left: 340px;
  text-transform: capitalize;
}
.container {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;

  position: absolute;
  top: 63%;
  margin-left: 190px;
  text-transform: capitalize;
}
.items {
  padding-left: 20px;
  line-height: 100px;
  font-size: 1.4rem;
  color: blueviolet;
}

.items a {
  color: rgb(2, 2, 2);
  text-decoration: none;

  border-radius: 25px;
  padding: 15px;
  font-family: serif;
  font-size: 1.4rem;
}
.items a:hover {
  background-color: blueviolet;
}

H1 {
  color: rgb(20, 19, 19);
  font-size: 1.8rem;
}
